<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.13">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>SSH-TStage</configName>
              <verbose>true</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>echo &quot;Image Versionen setzen&quot;
export ACTORS_VERSION=$ACTORS_GIT_ID
echo $ACTORS_VERSION
export MOVIES_VERSION=$MOVIES_GIT_ID
echo $MOVIES_VERSION
export SHOP_REST_VERSION=$SHOP_REST_GIT_ID
echo $SHOP_REST_VERSION
export SHOP_APP_VERSION=$SHOP_APP_GIT_ID
echo $SHOP_APP_VERSION
export NAVIGATION_VERSION=$NAVIGATION_GIT_ID
echo $NAVIGATION_VERSION
export MONITORING_VERSION=$MONITORING_GIT_ID
echo $MONITORING_VERSION

echo &quot;Docker stoppen&quot;;
sudo /home/ec2-user/docker-latest stop $(sudo /home/ec2-user/docker-latest ps -a -q);
echo &quot;Container entfernen&quot;;
sudo /home/ec2-user/docker-latest rm $(sudo /home/ec2-user/docker-latest ps -a -q);
echo &quot;MaWi-CD update&quot;
cd MaWi-CD;
git stash;
git pull;
echo &quot;Docker compose up&quot;;
cd Jenkins;
cd Compose\ ohne\ Build/;
docker-compose up -d;</execCommand>
                  <execTimeout>600000</execTimeout>
                  <usePty>true</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>