<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset plugin="maven-plugin@2.12.1">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.14.0">
      <projectUrl>https://github.com/CDhoch2/movie-database-actors.git/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/CDhoch2/movie-database-actors.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.14.0">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>de.codecentric</groupId>
    <artifactId>movie-database-actors</artifactId>
  </rootModule>
  <rootPOM>movie-database-actors/pom.xml</rootPOM>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>false</archivingDisabled>
  <siteArchivingDisabled>false</siteArchivingDisabled>
  <fingerprintingDisabled>false</fingerprintingDisabled>
  <resolveDependencies>false</resolveDependencies>
  <processPlugins>false</processPlugins>
  <mavenValidationLevel>-1</mavenValidationLevel>
  <runHeadless>false</runHeadless>
  <disableTriggerDownstreamProjects>false</disableTriggerDownstreamProjects>
  <blockTriggerWhenBuilding>true</blockTriggerWhenBuilding>
  <settings class="jenkins.mvn.DefaultSettingsProvider"/>
  <globalSettings class="jenkins.mvn.DefaultGlobalSettingsProvider"/>
  <reporters/>
  <publishers>
    <hudson.maven.RedeployPublisher>
      <id>nexus</id>
      <url>http://52.29.31.102:8081/content/repositories/snapshots/</url>
      <uniqueVersion>false</uniqueVersion>
      <evenIfUnstable>false</evenIfUnstable>
    </hudson.maven.RedeployPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.29">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>ACTORS_GIT_ID=$GIT_COMMIT
MOVIES_GIT_ID=$GIT_MOVIES
SHOP_REST_GIT_ID=$GIT_SHOP_REST
SHOP_APP_GIT_ID=$GIT_SHOP_APP
NAVIGATION_GIT_ID=$GIT_NAVIGATION
MONITORING_GIT_ID=$GIT_MONITORING</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>tstage</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.6">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
          <credentialsId>b6b36b7d-eee1-41e6-bcad-0ec4b29a2068</credentialsId>
          <usernameVariable>dockerhub_user</usernameVariable>
          <passwordVariable>dockerhub_pwd</passwordVariable>
        </org.jenkinsci.plugins.credentialsbinding.impl.UsernamePasswordMultiBinding>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>ae05438c-71be-4fba-93ac-dd34b21d7769</credentialsId>
          <variable>dockerhub_mail</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
  <prebuilders/>
  <postbuilders>
    <hudson.tasks.Shell>
      <command>cd /var/lib/jenkins/jobs/movie-database-movies/workspace/
# Nur ein &quot;&gt;&quot; damit die Datei zunächst überschrieben wird
echo &quot;GIT_MOVIES=$(git log | head -1 | sed s/&apos;commit &apos;//)&quot; &gt; $WORKSPACE/env.properties
cd /var/lib/jenkins/jobs/movie-database-shop-app/workspace/
sudo echo &quot;GIT_SHOP_APP=$(git log | head -1 | sed s/&apos;commit &apos;//)&quot; &gt;&gt; $WORKSPACE/env.properties
cd /var/lib/jenkins/jobs/movie-database-shop-rest/workspace/
sudo echo &quot;GIT_SHOP_REST=$(git log | head -1 | sed s/&apos;commit &apos;//)&quot; &gt;&gt; $WORKSPACE/env.properties
cd /var/lib/jenkins/jobs/movie-database-monitoring/workspace/
sudo echo &quot;GIT_MONITORING=$(git log | head -1 | sed s/&apos;commit &apos;//)&quot; &gt;&gt; $WORKSPACE/env.properties
cd /var/lib/jenkins/jobs/movie-database-navigation/workspace/
sudo echo &quot;GIT_NAVIGATION=$(git log | head -1 | sed s/&apos;commit &apos;//)&quot; &gt;&gt; $WORKSPACE/env.properties
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@1.92.1">
      <info>
        <propertiesFilePath>env.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>cd Jenkins
sudo sh docker-build.sh
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo &quot;GIT_MOVIES&quot;
echo $GIT_MOVIES
echo &quot;GIT_SHOP_APP&quot;
echo $GIT_SHOP_APP
echo &quot;GIT_SHOP_REST&quot;
echo $GIT_SHOP_REST
echo &quot;GIT_MONITORING&quot;
echo $GIT_MONITORING
echo &quot;GIT_NAVIGATION&quot;
echo $GIT_NAVIGATION
#echo &quot;Commit-ID&quot;
#echo $GIT_COMMIT
cd Jenkins
sudo sh dockerhub-push.sh

</command>
    </hudson.tasks.Shell>
  </postbuilders>
  <runPostStepsIfResult>
    <name>SUCCESS</name>
    <ordinal>0</ordinal>
    <color>BLUE</color>
    <completeBuild>true</completeBuild>
  </runPostStepsIfResult>
</maven2-moduleset>