<?xml version='1.0' encoding='UTF-8'?>
<maven2 plugin="maven-plugin@2.12.1">
  <actions/>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <reporters/>
  <displayName>movie-database</displayName>
  <version>0.0.1-SNAPSHOT</version>
  <packaging>pom</packaging>
  <relativePath>movie-database</relativePath>
  <dependencies>
    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-parent</artifactId>
      <version>1.2.0.RELEASE</version>
      <plugin>false</plugin>
    </dependency>
  </dependencies>
  <children>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-actors</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-commons</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-movies</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-navigation</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-security</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-shop-rest</artifactId>
    </hudson.maven.ModuleName>
    <hudson.maven.ModuleName>
      <groupId>de.codecentric</groupId>
      <artifactId>movie-database-monitoring</artifactId>
    </hudson.maven.ModuleName>
  </children>
</maven2>